.et_header_style_centered .mobile_nav .select_page,
.et_header_style_split .mobile_nav .select_page,
.et_nav_text_color_light #top-menu>li>a,
.et_nav_text_color_dark #top-menu>li>a,
#top-menu a,
.et_mobile_menu li a,
.et_nav_text_color_light .et_mobile_menu li a,
.et_nav_text_color_dark .et_mobile_menu li a,
#et_search_icon:before,
.et_search_form_container input,
span.et_close_search_field:after,
#et-top-navigation .et-cart-info {
 color:#20292f
}
.et_search_form_container input::-moz-placeholder {
 color:#20292f
}
.et_search_form_container input::-webkit-input-placeholder {
 color:#20292f
}
.et_search_form_container input:-ms-input-placeholder {
 color:#20292f
}
#top-menu li a {
 font-size:15px
}
body.et_vertical_nav .container.et_search_form_container .et-search-form input {
 font-size:15px!important
}
#footer-widgets .footer-widget a,
#footer-widgets .footer-widget li a,
#footer-widgets .footer-widget li a:hover {
 color:#ffffff
}
.footer-widget {
 color:#ffffff
}
.et_slide_in_menu_container,
.et_slide_in_menu_container .et-search-field {
 letter-spacing:px
}
.et_slide_in_menu_container .et-search-field::-moz-placeholder {
 letter-spacing:px
}
.et_slide_in_menu_container .et-search-field::-webkit-input-placeholder {
 letter-spacing:px
}
.et_slide_in_menu_container .et-search-field:-ms-input-placeholder {
 letter-spacing:px
}
@media only screen and (min-width:981px) {
 .et-fixed-header #top-menu a,
 .et-fixed-header #et_search_icon:before,
 .et-fixed-header #et_top_search .et-search-form input,
 .et-fixed-header .et_search_form_container input,
 .et-fixed-header .et_close_search_field:after,
 .et-fixed-header #et-top-navigation .et-cart-info {
  color:#20292f!important
 }
 .et-fixed-header .et_search_form_container input::-moz-placeholder {
  color:#20292f!important
 }
 .et-fixed-header .et_search_form_container input::-webkit-input-placeholder {
  color:#20292f!important
 }
 .et-fixed-header .et_search_form_container input:-ms-input-placeholder {
  color:#20292f!important
 }
}
@media only screen and (min-width:1350px) {
 .et_pb_row {
  padding:27px 0
 }
 .et_pb_section {
  padding:54px 0
 }
 .single.et_pb_pagebuilder_layout.et_full_width_page .et_post_meta_wrapper {
  padding-top:81px
 }
 .et_pb_fullwidth_section {
  padding:0
 }
}
#main-header,
#et-top-navigation {
 font-family:'Poppins',Helvetica,Arial,Lucida,sans-serif
}
.et_divi_theme.et_fixed_nav.et_show_nav #page-container {
 padding-top:64px
}
.et_divi_theme .title_container h1 {
 font-family:Poppins,sans-serif;
 float:left;
 font-size:23px;
 color:#20292f;
 padding-top:27px;
 font-weight:600;
 padding-bottom:0;
 transition:padding-top 0.3s linear
}
.et_divi_theme #et-top-navigation a {
 font-weight:500!important
}
.et_divi_theme #top-menu li.current-menu-item>a {
 font-weight:600!important;
 color:#20292f
}
.et_divi_theme #top-menu-nav>ul>li>a:hover {
 color:#71818c!important;
 opacity:1
}
@media (min-width:981px) {
 .et_divi_theme.et_fullwidth_nav #main-header .container {
  padding-right:40px;
  padding-left:40px
 }
}
.et_divi_theme #main-header {
 box-shadow:0 0 30px rgba(7,51,84,0.17)!important
}
.et_divi_theme .et-fixed-header h1 {
 padding-top:17px
}
div.et_pb_section.et_pb_section_0 {
 background-image:url(https://ali.sandbox.etdevs.com/divi/wp-content/uploads/sites/2/2020/05/spice-shop-60.jpg)!important
}
.et_pb_section_0.et_pb_section {
 padding-top:12vw;
 padding-bottom:0px
}
.et_pb_row_0.et_pb_row {
 margin-bottom:5%!important
}
.et_pb_text_0 h1 {
 font-family:'Montserrat',Helvetica,Arial,Lucida,sans-serif;
 font-weight:800;
 font-size:100px;
 color:#000000!important;
 line-height:1.2em
}
.et_pb_text_0 h3 {
 font-weight:700;
 text-transform:uppercase;
 font-size:16px;
 letter-spacing:2px;
 line-height:1.8em
}
.et_pb_image_2 {
 text-align:left;
 margin-left:0
}
.et_pb_image_0 {
 text-align:left;
 margin-left:0
}
.et_pb_image_1 {
 text-align:left;
 margin-left:0
}
.et_pb_image_3 {
 text-align:left;
 margin-left:0
}
.et_pb_text_1 h3 {
 font-family:'Montserrat',Helvetica,Arial,Lucida,sans-serif;
 font-weight:800;
 font-size:28px;
 line-height:1.2em
}
.et_pb_text_2 h3 {
 font-family:'Montserrat',Helvetica,Arial,Lucida,sans-serif;
 font-weight:800;
 font-size:28px;
 line-height:1.2em
}
.et_pb_button_0_wrapper .et_pb_button_0,
.et_pb_button_0_wrapper .et_pb_button_0:hover {
 padding-top:10px!important;
 padding-right:20px!important;
 padding-bottom:10px!important;
 padding-left:20px!important
}
.et_pb_button_1_wrapper .et_pb_button_1,
.et_pb_button_1_wrapper .et_pb_button_1:hover {
 padding-top:10px!important;
 padding-right:20px!important;
 padding-bottom:10px!important;
 padding-left:20px!important
}
.et_pb_button_1_wrapper {
 margin-top:30px!important
}
.et_pb_button_2_wrapper {
 margin-top:30px!important
}
.et_pb_button_0_wrapper {
 margin-top:30px!important
}
body #page-container .et_pb_section .et_pb_button_0 {
 color:#ffffff!important;
 border-width:0px!important;
 border-radius:0px;
 letter-spacing:2px;
 font-size:16px;
 font-weight:700!important;
 text-transform:uppercase!important;
 background-color:#e14a00
}
body #page-container .et_pb_section .et_pb_button_0:hover {
 color:#000000!important;
 background-image:initial;
 background-color:#ffffff
}
body #page-container .et_pb_section .et_pb_button_3:before,
body #page-container .et_pb_section .et_pb_button_3:after {
 display:none!important
}
body #page-container .et_pb_section .et_pb_button_1:before,
body #page-container .et_pb_section .et_pb_button_1:after {
 display:none!important
}
body #page-container .et_pb_section .et_pb_button_2:before,
body #page-container .et_pb_section .et_pb_button_2:after {
 display:none!important
}
body #page-container .et_pb_section .et_pb_button_0:before,
body #page-container .et_pb_section .et_pb_button_0:after {
 display:none!important
}
.et_pb_button_0 {
 transition:color 300ms ease 0ms,background-color 300ms ease 0ms
}
.et_pb_button_2,
.et_pb_button_2:after {
 transition:all 300ms ease 0ms
}
.et_pb_button_3,
.et_pb_button_3:after {
 transition:all 300ms ease 0ms
}
.et_pb_button_1,
.et_pb_button_1:after {
 transition:all 300ms ease 0ms
}
.et_pb_button_0,
.et_pb_button_0:after {
 transition:all 300ms ease 0ms
}
body #page-container .et_pb_section .et_pb_button_1 {
 color:#ffffff!important;
 border-width:0px!important;
 border-radius:0px;
 letter-spacing:2px;
 font-size:16px;
 font-weight:700!important;
 text-transform:uppercase!important;
 background-color:#96bf00
}
body #page-container .et_pb_section .et_pb_button_1:hover {
 background-image:initial;
 background-color:#000000
}
.et_pb_button_1 {
 transition:background-color 300ms ease 0ms
}
.et_pb_section_1.et_pb_section {
 padding-top:0px;
 background-color:#f3f3f1!important
}
.et_pb_shop_0.et_pb_shop .woocommerce ul.products li.product h3,
.et_pb_shop_0.et_pb_shop .woocommerce ul.products li.product h1,
.et_pb_shop_0.et_pb_shop .woocommerce ul.products li.product h2,
.et_pb_shop_0.et_pb_shop .woocommerce ul.products li.product h4,
.et_pb_shop_0.et_pb_shop .woocommerce ul.products li.product h5,
.et_pb_shop_0.et_pb_shop .woocommerce ul.products li.product h6 {
 font-weight:700;
 text-transform:uppercase;
 color:#000000!important;
 letter-spacing:2px;
 line-height:1.4em
}
.et_pb_text_9.et_pb_text {
 color:#000000!important
}
.et_pb_text_8.et_pb_text a {
 color:#000000!important
}
.et_pb_text_7.et_pb_text a {
 color:#000000!important
}
.et_pb_text_6.et_pb_text {
 color:#000000!important
}
.et_pb_shop_0 .star-rating>span:before {
 color:#000000!important
}
.et_pb_shop_0 .et_overlay:before {
 color:#ffffff!important
}
.et_pb_shop_0 .et_overlay {
 background-color:rgba(0,0,0,0.2)!important;
 border-color:rgba(0,0,0,0.2)!important
}
.et_pb_shop_0 ul.products li.product .star-rating {
 width:calc(5.4em + (0px * 4))
}
.et_pb_section_2.et_pb_section {
 background-color:#f3f3f1!important
}
.et_pb_section_3.et_pb_section {
 background-color:#f3f3f1!important
}
.et_pb_row_3,
body #page-container .et-db #et-boc .et-l .et_pb_row_3.et_pb_row,
body.et_pb_pagebuilder_layout.single #page-container #et-boc .et-l .et_pb_row_3.et_pb_row,
body.et_pb_pagebuilder_layout.single.et_full_width_page #page-container #et-boc .et-l .et_pb_row_3.et_pb_row {
 width:90%;
 max-width:none
}
.et_pb_text_3 h3 {
 font-family:'Montserrat',Helvetica,Arial,Lucida,sans-serif;
 font-weight:800;
 font-size:80px;
 color:#000000!important;
 line-height:1.2em
}
.et_pb_text_3 {
 width:100%;
 position:absolute!important;
 top:0px;
 bottom:auto;
 left:0px;
 right:auto
}
.et_pb_text_4 h2 {
 font-family:'Montserrat',Helvetica,Arial,Lucida,sans-serif;
 font-weight:800;
 font-size:180px;
 line-height:1.2em;
 text-shadow:0em 0.2em 0.3em rgba(0,0,0,0.5)
}
.et_pb_text_4 {
 width:100%;
 z-index:11;
 position:absolute!important;
 bottom:0px;
 top:auto;
 left:0px;
 right:auto
}
.et_pb_image_4 {
 text-align:center
}
.et_pb_row_4 {
 position:static!important;
 top:0px;
 right:auto;
 bottom:auto;
 left:0px
}
.et_pb_button_2_wrapper .et_pb_button_2,
.et_pb_button_2_wrapper .et_pb_button_2:hover {
 padding-top:18px!important;
 padding-right:30px!important;
 padding-bottom:18px!important;
 padding-left:30px!important
}
body #page-container .et_pb_section .et_pb_button_2 {
 color:#000000!important;
 border-width:0px!important;
 border-radius:0px;
 letter-spacing:2px;
 font-size:16px;
 font-weight:700!important;
 text-transform:uppercase!important;
 background-color:#ffc500
}
body #page-container .et_pb_section .et_pb_button_2:hover {
 color:#ffffff!important;
 background-image:initial;
 background-color:#000000
}
.et_pb_button_2 {
 z-index:11;
 position:relative;
 transition:color 300ms ease 0ms,background-color 300ms ease 0ms
}
.et_pb_text_5 p {
 line-height:2.2em
}
.et_pb_text_5 {
 font-size:16px;
 line-height:2.2em;
 max-width:700px;
 z-index:2;
 position:relative
}
.et_pb_text_5 h2 {
 font-family:'Montserrat',Helvetica,Arial,Lucida,sans-serif;
 font-weight:800;
 font-size:50px;
 color:#000000!important;
 line-height:1.2em
}
.et_pb_text_6 p {
 line-height:1.2em
}
.et_pb_text_7 p {
 line-height:1.2em
}
.et_pb_text_9 p {
 line-height:1.2em
}
.et_pb_text_8 p {
 line-height:1.2em
}
.et_pb_text_9 {
 font-family:'Montserrat',Helvetica,Arial,Lucida,sans-serif;
 font-weight:800;
 font-size:30px;
 line-height:1.2em;
 padding-top:10px!important;
 padding-bottom:10px!important
}
.et_pb_text_8 {
 font-family:'Montserrat',Helvetica,Arial,Lucida,sans-serif;
 font-weight:800;
 font-size:30px;
 line-height:1.2em;
 padding-top:10px!important;
 padding-bottom:10px!important
}
.et_pb_text_7 {
 font-family:'Montserrat',Helvetica,Arial,Lucida,sans-serif;
 font-weight:800;
 font-size:30px;
 line-height:1.2em;
 padding-top:10px!important;
 padding-bottom:10px!important
}
.et_pb_text_6 {
 font-family:'Montserrat',Helvetica,Arial,Lucida,sans-serif;
 font-weight:800;
 font-size:30px;
 line-height:1.2em;
 padding-top:10px!important;
 padding-bottom:10px!important
}
div.et_pb_section.et_pb_section_3 {
 background-image:url(https://ali.sandbox.etdevs.com/divi/wp-content/uploads/sites/2/2020/05/spice-shop-41-scaled.jpg)!important
}
.et_pb_text_8 h3 {
 font-weight:700;
 text-transform:uppercase;
 font-size:16px;
 color:#fe1707!important;
 letter-spacing:2px;
 line-height:1.8em
}
.et_pb_text_7 h3 {
 font-weight:700;
 text-transform:uppercase;
 font-size:16px;
 color:#fe1707!important;
 letter-spacing:2px;
 line-height:1.8em
}
.et_pb_text_9 h3 {
 font-weight:700;
 text-transform:uppercase;
 font-size:16px;
 color:#fe1707!important;
 letter-spacing:2px;
 line-height:1.8em
}
.et_pb_button_3_wrapper .et_pb_button_3,
.et_pb_button_3_wrapper .et_pb_button_3:hover {
 padding-top:18px!important;
 padding-right:0px!important;
 padding-bottom:18px!important;
 padding-left:0px!important
}
body #page-container .et_pb_section .et_pb_button_3 {
 color:#fe1707!important;
 border-width:0px!important;
 border-radius:0px;
 letter-spacing:2px;
 font-size:16px;
 font-weight:700!important;
 text-transform:uppercase!important;
 background-color:rgba(0,0,0,0)
}
body #page-container .et_pb_section .et_pb_button_3:hover {
 color:#000000!important
}
.et_pb_button_3 {
 box-shadow:0px 2px 0px 0px #fe1707;
 transition:color 300ms ease 0ms,box-shadow 300ms ease 0ms
}
.et_pb_button_3:hover {
 box-shadow:0px 2px 0px 0px #000000
}
.et_pb_column_8 {
 background-color:#ffffff;
 padding-top:80px;
 padding-right:60px;
 padding-bottom:80px;
 padding-left:60px
}
.et_pb_text_5.et_pb_module {
 margin-left:auto!important;
 margin-right:auto!important
}
@media only screen and (max-width:980px) {
 div.et_pb_section.et_pb_section_0 {
  background-size:contain;
  background-position:top center
 }
 .et_pb_text_0 h1 {
  font-size:40px
 }
 .et_pb_text_8 h3 {
  font-size:14px
 }
 .et_pb_text_0 h3 {
  font-size:14px
 }
 .et_pb_text_5 {
  font-size:14px
 }
 .et_pb_text_9 h3 {
  font-size:14px
 }
 .et_pb_text_7 h3 {
  font-size:14px
 }
 .et_pb_text_1 h3 {
  font-size:25px
 }
 .et_pb_text_2 h3 {
  font-size:25px
 }
 .et_pb_text_3 h3 {
  font-size:30px
 }
 .et_pb_text_4 h2 {
  font-size:80px
 }
 .et_pb_button_2_wrapper .et_pb_button_2,
 .et_pb_button_2_wrapper .et_pb_button_2:hover {
  padding-top:14px!important;
  padding-right:20px!important;
  padding-bottom:14px!important;
  padding-left:20px!important
 }
 body #page-container .et_pb_section .et_pb_button_2 {
  font-size:14px!important
 }
 .et_pb_text_5 h2 {
  font-size:35px
 }
 .et_pb_text_9 {
  font-size:22px
 }
 .et_pb_text_6 {
  font-size:22px
 }
 .et_pb_text_8 {
  font-size:22px
 }
 .et_pb_text_7 {
  font-size:22px
 }
 .et_pb_button_3_wrapper .et_pb_button_3,
 .et_pb_button_3_wrapper .et_pb_button_3:hover {
  padding-top:14px!important;
  padding-bottom:14px!important
 }
 body #page-container .et_pb_section .et_pb_button_3 {
  font-size:14px!important;
  padding-right:1em;
  padding-left:1em
 }
 body #page-container .et_pb_section .et_pb_button_3:hover {
  padding-right:0.7em;
  padding-left:0.7em
 }
 .et_pb_column_8 {
  padding-top:50px;
  padding-right:30px;
  padding-bottom:50px;
  padding-left:30px
 }
}
@media only screen and (max-width:767px) {
 div.et_pb_section.et_pb_section_0 {
  background-size:cover;
  background-position:center left
 }
 .et_pb_text_0 h1 {
  font-size:30px
 }
 .et_pb_text_7 h3 {
  font-size:12px
 }
 .et_pb_text_0 h3 {
  font-size:12px
 }
 .et_pb_text_9 h3 {
  font-size:12px
 }
 .et_pb_text_8 h3 {
  font-size:12px
 }
 .et_pb_text_1 h3 {
  font-size:20px
 }
 .et_pb_text_2 h3 {
  font-size:20px
 }
 .et_pb_text_3 h3 {
  font-size:20px
 }
 .et_pb_text_4 h2 {
  font-size:60px
 }
 body #page-container .et_pb_section .et_pb_button_3 {
  font-size:12px!important
 }
 body #page-container .et_pb_section .et_pb_button_2 {
  font-size:12px!important
 }
 .et_pb_text_5 h2 {
  font-size:25px
 }
 .et_pb_text_7 {
  font-size:16px
 }
 .et_pb_text_8 {
  font-size:16px
 }
 .et_pb_text_9 {
  font-size:16px
 }
 .et_pb_text_6 {
  font-size:16px
 }
 .et_pb_button_3_wrapper .et_pb_button_3,
 .et_pb_button_3_wrapper .et_pb_button_3:hover {
  padding-top:12px!important;
  padding-bottom:12px!important
 }
 .et_pb_column_8 {
  padding-top:30px;
  padding-right:20px;
  padding-bottom:30px;
  padding-left:20px
 }
}
