input, button, select, textarea, a{outline: 0;}

img{ max-width: 100%; height: auto;}

html{height: 100%;}
body{overflow-x: hidden;}
body{ background-color: #0C0C0C !important; font-size: 15px; line-height: 1.4;}

div[class*="kursorChild"]{ display: none !important;}
div[class*="kursor"].kursor--2{ width: 12px; height: 12px; mix-blend-mode: difference; z-index: 999999;}

.menuactive{perspective: 2000px; overflow: hidden; background-color: #0C0C0C; height: 100%;}

#sticky--header {position: fixed; height: 100%; width: 50px; left: 0; top: 0; z-index: 10; background: #fff; transition:0.4s; display: flex; flex-direction: column; align-items: stretch;  border-right: 1px solid #b5b5b5;}
#sticky--header .logo-icon{ position: absolute; width: 100%; left: 0; right: 0; text-align: center; margin: auto;}
#sticky--header .logo-icon a{ display: block; padding: 20px 0;}
#sticky--header .logo-icon img{ width: 24px; max-width: none;}
#sticky--header .open-menu{ position: absolute; top: 50%; transform: translate(-50%,-50%); left: 50%;}
#sticky--header .open-menu .mobile_menu_bar:before{ color: #575757;}

#sticky--header .usernav{ position: absolute; bottom: 10px; left: 0; right: 0;}
#sticky--header .usernav ul{ margin: 0; padding: 0; list-style: none;}
#sticky--header .usernav ul li{ display: inline-block; display: block; margin:10px 0; text-align: center;}
#sticky--header .usernav ul li a{ display: block;}
#sticky--header .usernav ul li img{ width: 18px;}

.menuactive #sticky--header { transform: translateX(-50px); opacity: 0; transition: 0.7s;}

.menu-wrapper { width: 260px; height: 100%; position: fixed; display: block; opacity: 0; transform-origin: 0% 50%; transform: translateX(-260px) rotateY(-30deg); transition:0.5s; left: 0; top: 0; padding: 20px; overflow: hidden; overflow-y: auto; background-color: #0C0C0C; color: #eee;}

.menu-wrapper .logo_container.logo_sidebar { position: static; padding-bottom: 20px; margin-bottom: 25px; border-bottom: 1px solid #383838; height: auto;}

.menu-wrapper .logo_container.logo_sidebar #logo{ width: 54px; max-height: none;}

.menu-wrapper nav #top-menu{ float: none; line-height: normal;}
.menu-wrapper nav #top-menu li{ display: block; opacity: 0.5; width: 100%; line-height: normal; text-transform: uppercase; transition: 0.3s; position: relative; padding-right:30px;}
.menu-wrapper nav #top-menu li:after{content:  "\24"; font-family: ETmodules !important; opacity: 0; position: absolute; right: 15px; top: 10px;}
.menu-wrapper nav #top-menu li:hover:after{ opacity: 1;}
.menu-wrapper nav #top-menu li:hover{ opacity: 1; background-color: rgba(0,0,0,0.5); transform: translateX(10px);}
.menu-wrapper nav #top-menu li a{ color: #fff; padding: 9px 15px; font-size: 13px;}
.menuactive .menu-wrapper { opacity: 1; transform: translateX(0px) rotateY(0deg); z-index: 999;}

.close-menu{ width: 24px; position: absolute; right: 15px; border-radius: 50%; top: 25px; width: 32px; height: 32px; background-color:transparent; z-index: 55; display: none;}

#page-container{ padding-left: 50px; padding-top: 0 !important; background: #FFF; transition:0.5s; width: 100%; overflow-y: auto; overflow-x: hidden;}
.menuactive #page-container { transform: translateX(260px) rotateY(-30deg); overflow: hidden; height: 100%;}

#main-header{ display: none !important;}

.addtocart_row{ display: flex; flex-wrap: wrap; width: 500px; max-width: 100%;}
.addtocart_row .price{ width: 33.33%; padding-right: 30px;}
.addtocart_row .price small{ display: block; font-size: 12px;}
.addtocart_row .price strong{ font-size: 24px; display: block; color: #333;}

.offer-price{font-size: 18px; font-style: italic; font-weight: 700;}
.offer-price > span{ opacity: 0.5;}
.offer-price > span span{ text-decoration: line-through;}

.addtocart_row .qty{ width: 33.33%; padding-right: 30px;}
.addtocart_row .qty input[type="number"]{background:#fff; border:0; max-width: 100%; outline:0; padding:3px 18px; height:48px;}

.addtocart_row #submit_id{ width: 33.33%;}

.section-lightbg{ background-color: #f0f0f0 !important;}

.customer-detail-block .price{ font-size: 54px; color: #333;}

.customer_detail_form .form-fieldset{ border-bottom:1px solid #ddd; margin-bottom:20px;}
.customer_detail_form{border-top:1px solid #ddd; padding-top:30px; margin-top:20px;}
.customer_detail_form > h4{font-size:16px; padding-right:65px; font-weight:700; text-transform: uppercase; margin-bottom:20px; width:460px; max-width:100%; position:relative;}
.customer_detail_form > h4 .product-qty {font-size:12px; position:absolute; right:0; top:-4px;}
.customer_detail_form > h4 .product-qty span{ width: 24px; height: 24px; border-radius: 50%; color: #fff; line-height: 24px; text-align: center; background: #e14a00; display: inline-block; }

.field-wrapper { margin-bottom:15px}
.field-wrapper label{font-weight: bold; text-transform: uppercase; margin: 0 0 6px 0; display:inline-block;}
.field-wrapper .input{ width:460px; max-width:100%; background:#fff; border:0; outline:0; padding:3px 18px; height:48px;}

.section-success{ min-height: 90vh; display: flex;}
.section-success .success-msg .icon{color: green; display: block; font-size: 200%; margin-bottom: 50px;}


.site-container{width: 84%; margin: auto;}

.herosection{ position: relative;}
.discover-more-arrow{ position: absolute; bottom: 10px; font-size: 18px; font-weight: bold; left: 0; right: 0; width: 300px; max-width: 100%; margin: auto !important; color: #fff;}
.discover-more-arrow .icon{ display: block; margin-top: 20px;}

/* .herosection #herobanner{ padding: 0 20px;} */
.herosection #herobanner .page-title.pos-abs{ position: absolute; top: 10%; left: 0; right: 0; margin: auto; z-index: 5; }
.herosection #herobanner .page-title{color: #fff; opacity: 0.7;  padding: 0 20px; text-align: center; font-weight: 400; font-size: 28px; line-height: normal;}
.herosection #herobanner .page-title span{ font-size: 54px; font-weight: bold;}

.block-title{ width: 270px; max-width: 100%; line-height: 1.1; font-weight: bold; font-size: 42px; margin: 0;}
.block-title.fsize-md{ font-size: 32px;}
.block-title.fsize-sm{ font-size: 22px;}
.block-title .icon{ display: block; margin-bottom: 10px;}
.block-title.text-center{ margin-left: auto; margin-right: auto; width: auto;}

.clr-white{ color: #fff !important;}
.clr-pink{ color: #e17e75 !important;}
.clr-dark{ color: #262626 !important;}
.clr-light{ color: #808081 !important;}
.clr-lightblue{ color: #6388AC !important;}

.mb-70{ margin-bottom:70px !important;}
.mb-60{ margin-bottom:60px !important;}
.mb-50{ margin-bottom:50px !important;}
.mb-40{ margin-bottom:40px !important;}
.mb-30{ margin-bottom:30px !important;}
.mb-20{ margin-bottom:20px !important;}
.mb-15{ margin-bottom:15px !important;}

.mt-70{ margin-top:70px !important;}
.mt-60{ margin-top:60px !important;}
.mt-50{ margin-top:50px !important;}
.mt-40{ margin-top:40px !important;}
.mt-30{ margin-top:30px !important;}
.mt-20{ margin-top:20px !important;}
.mt-15{ margin-top:15px !important;}

.darkbg{ background-color: #272727;}

.content-section{ padding: 70px 0;}
.content-section.pb-0{ padding-bottom: 0;}
.content-section.pt-0{ padding-top: 0;}

#slider-2{ margin: 0 -15px;}
#slider-2 .slide-item{padding: 0 20px;}
#slider-2 .white-card{ height: 500px; display: flex; align-items: stretch;}
#slider-2 .white-card .white-card-body{ width: 100%;}

#slider-2 .white-card .input-list ul{ margin: 0; padding: 0; list-style: none;}
#slider-2 .white-card .input-list ul li{margin: 15px 0 0 0; font-weight: bold; color: #fff; border-radius: 8px; background-color: #a0b8db;}
#slider-2 .white-card .input-list ul li a{ padding: 12px 20px; display: block; color: inherit; text-decoration: none !important;}
#slider-2 .white-card .input-list ul li .icon{ display: inline-block; vertical-align: middle; margin-right: 10px; width: 30px;}
#slider-2 .white-card .input-list ul li:nth-child(1){background-color: #a0b8db;}
#slider-2 .white-card .input-list ul li:nth-child(2){background-color: #7fbfca;}
#slider-2 .white-card .input-list ul li:nth-child(3){background-color: #e17e75;}
#slider-2 .white-card .input-list ul li:nth-child(4){background-color: #eab444;}

.white-card{ padding: 30px; border-radius: 35px; /*box-shadow: 0 2px 41px rgba(114,114,114,0.16);*/ background-color: #fff; height: 100%; width: 100%;}
.white-card .card-img{ margin: 30px auto; width: 200px; max-width: 100%;}


ul.slick-dots{padding: 0; list-style: none; z-index: 99; position: absolute; left: 0; right: 0; width: 84%; bottom: 30px; margin: auto;}
ul.slick-dots li{ display: inline-block; vertical-align: middle; width: 20px; height: 20px; border:1px solid transparent; border-radius: 50%; margin: 5px; cursor: pointer; opacity: 0.6; position: relative;}
ul.slick-dots li button{padding: 0; border: 0; display:block; font-size: 0; cursor: pointer; text-indent: -99999px; border-radius:50%; outline: 0; background-color:#fff; width: 7px; height: 7px; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto;}
ul.slick-dots li.slick-active{ opacity: 1; border-color: #fff;}

.dots-theme-blue ul.slick-dots li button{ background-color: #6987a8;}
.dots-theme-blue ul.slick-dots li.slick-active{ border-color: #6987a8;}
.dots-centered ul.slick-dots{ bottom: 0; display: table; margin:30px auto 0 auto; position: static; width: auto;}

.slick-arrow{ background-color: transparent; border: 0; outline: 0; cursor: pointer; top: -100px; width:26px; height: 26px; z-index: 55; position: absolute; text-align: center; right:32px; color: #6987a8; padding: 0;}
.slick-arrow.slick-next{right:0;}

.button {background: #e17e75; border: 0; border-radius:35px; font-weight: 500; color: #fff; text-decoration: none !important; display: inline-block; padding:14px 24px; min-width: 180px; text-align: center;}
.button:hover{ color: #fff;}

.lightbg{ background-color: #f7f7f7;}

.featured-block{width: 300px; max-width: 100%; padding: 0 20px;}
.featured-block.text-center{ margin-left: auto; margin-right: auto;}
.featured-block .pwrap{ line-height: 1.5;}
.featured-block .block-title{ width: auto;}

.step-block-outer{width: 33.33%; margin-top: 60px; padding:0 20px;}
.step-block-outer .step-block{ position: relative; width: 280px; max-width: 100%; margin: auto; }
.step-block-outer .step-block .step-count{color: #393939; width: auto; position: absolute; left: 0; top: 0;}
.step-block-outer .step-block .block-title{ width: auto;}

.pos-rel{ position: relative;}

.content-container{ line-height: 1.6;}
.content-container p{ margin-bottom:30px;}
.content-container h4{ font-size: 20px; color: #262626; font-weight: bold;}

.content-container ul,
.content-container ol{ list-style: initial; margin-bottom: 30px; margin-left: 30px;}
.content-container ul ul{ list-style: circle;}
.content-container li{ margin: 7px 0;}
.content-container ol{ list-style: decimal;}
.content-container ol[type="A"]{ list-style: upper-alpha;}

#site-footer{ padding:90px 0 50px 0; color: #8c8c8c; background: url(../images/vector-17.png) no-repeat 54% 80% #3f3f3f; background-size: 280px; position: relative;}
#site-footer .contact-block{color: #8c8c8c; width: 280px; max-width: 100%; font-size: 20px;}
#site-footer .contact-block p{ margin: 0;}
#site-footer .contact-block .contact-title{ font-weight: 500; color: #fff; font-size:80%; text-transform: uppercase;}
#site-footer .contact-block a{ color: inherit; text-decoration: none;}
#site-footer .contact-block .button{ font-size: 14px; background: #000000; color: #838383;}

#site-footer .contact-block .icon{ display: inline-block; vertical-align: middle; margin: 0 10px 0 0; width: 32px;}

#site-footer .footer-bottom{ margin-top: 50px;}

#site-footer .footer-left{ display: flex; float: left; font-size: 13px; flex-wrap: wrap; margin-top: 12px;}
#site-footer .footer-left .flinks{ order: 2; margin-left: 30px;}
#site-footer .footer-left .flinks ul{ margin: 0; padding: 0; list-style: none;}
#site-footer .footer-left .flinks li{ display: inline-block; font-weight: 500; color: #fff; opacity: 0.7; margin-left: 20px;}
#site-footer .footer-left .flinks li a{ color: inherit;}

#site-footer .social-network{ float: right;}
#site-footer .social-network a{margin:5px; color: #9f9f9f; border: 2px solid #9f9f9f; width: 36px; height:36px; line-height: 34px; text-align: center; border-radius: 50%; display: inline-block; vertical-align: top; font-size:16px;}
#site-footer .social-network a:hover{ background-color: #fff; border-color: #fff; color: #3f3f3f;}

#site-footer .copyright a{ color: #fff;}

.fixed-vector-1{ position: absolute; left: 20%; top: -15%; width: 250px;}
.fixed-vector-2{ position: absolute; right: 17%; top: -5%; width:100px;}
.fixed-vector-3{ position: absolute; right: 14%; top: -12%; width: 120px;}
.fixed-vector-4{ position: absolute; left:8%; bottom: -6%; width: 140px;}

.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.profile{ margin: 30px 0;}
.profile *{ line-height: normal;}
.profile .profile-head{ margin-bottom: 15px; background-color: #e3f0d9; border-radius: 60px;}
.profile.profile-bg-1 .profile-head{ background-color: #d6dce5;}
.profile .profile-head .avatar{ width: 120px; line-height: 0;}
.profile .profile-head .avatar img{ border-radius: 50%; width: 120px; height: 120px; object-fit: cover;}
.profile .profile-head .profile-desc{ width: calc(100% - 120px); padding: 10px 30px;}
.profile .profile-head .profile-desc ul{ margin: 0; padding: 0;}
.profile .profile-head .profile-desc ul li{ margin: 2px 0;font-size: 10px; list-style: disc;}
.profile .profile-name{ text-align: center; font-size: 13px;}
.profile .profile-name span{ display: block;}

.payment-info h1{ font-size: 60px; font-weight: bold; color: #000;}
.payment-info h1 .icon{ display: inline-block; vertical-align: middle; margin: 0 10px 0 -20px; width: 150px;}
.payment-info h2 { color: #000; font-weight: bold;}
.payment-info h2 .icon{ display: block; margin-bottom: 5px;}
.payment-info .order-summary{ border: 1px solid #cfcfcf; padding: 25px 15px; margin-top: 40px;}
.payment-info .order-summary table{ width: 100%; border-collapse: collapse;}
.payment-info .order-summary table td{ padding: 5px 10px;}

.revamp-cards-wrapper{ width: 1100px; margin: auto; position: relative; margin-top: 60px; max-width: 100%;}
.revamp-cards-wrapper .container{ width: 100% !important;}
.revamp-cards-wrapper .container > .block-title{ position: absolute; top: 50%; transform: translateY(-50%); width: 270px; margin: auto; left: 0; right: 0;}
.revamp-cards{ position: relative;}
.revamp-cards .revamp-card{text-align: center; position: absolute; width: 350px; height: 350px; background-color: #F3F5F7; border-radius: 50%;}
.revamp-cards .revamp-card .card-figure{ position: absolute; left: 0; right: 0; top: 50%; transform: translateY(-50%);}
.revamp-cards .revamp-card .card-figure > img{height: 180px; margin: 20px 0;}
.revamp-cards .revamp-card .block-title{ font-size: 16px; width: auto;}
.revamp-cards .revamp-card .block-title.card-figcaption{ width:200px; padding:0 20px; margin:0 auto;}
.revamp-cards .revamp-card .card-hover{position: absolute; opacity: 0; visibility: hidden; width: 100%; height: 100%; transition: 0.3s; padding: 20px; border-radius: 50%; background-color: #6987A8; color: #fff; box-shadow: 0 3px 40px rgba(241,242,244,0.4); display: flex; align-items: center; left: 0; top: 10%;}
.revamp-cards .revamp-card:hover .card-hover{ opacity: 1; visibility: visible; top: 0;}
.revamp-cards .revamp-card .card-hover p{ font-size: 12px; line-height: normal;}
.revamp-cards .revamp-card .card-hover a{ color: inherit; text-decoration: underline;}
.revamp-cards .revamp-card.card-1{ left: 9%; top: 0;}
.revamp-cards .revamp-card.card-2{ right: 9%; top: 0;}
.revamp-cards .revamp-card.card-3{ left:-9%; top:35%;}
.revamp-cards .revamp-card.card-4{ right:-9%; top:35%;}
.revamp-cards .revamp-card.card-5{ left:-5%; bottom:0;}
.revamp-cards .revamp-card.card-6{ right:-5%; bottom:0;}

.anchor-list { position: absolute; transition: 0.3s; left: 0; right: 0; top: 0;}
.anchor-list ul{ margin: 0; padding: 0; list-style: none;}
.anchor-list ul li{ width: 33.33%; position: relative; padding: 10px 0; text-align: center; color: #6388ac; font-weight: bold; font-size: 24px;}
.anchor-list.active-1 ul li:nth-child(1),
.anchor-list.active-2 ul li:nth-child(2),
.anchor-list.active-3 ul li:nth-child(3){ color: #00b28f;}

.anchor-list ul li + li:before{ content: '\f178'; font-family: 'FontAwesome'; position: absolute; right: 100%; top: 50%; transform: translate(-50%,-50%); color: #6388ac;}

#scrolling-blocks-wrapper{ position: relative;}
#scrolling-blocks{ height: 100vh; position: relative;}

.approach-content-block{ width: 800px; position: absolute; left: 0; right: 0; max-width: 100%; margin: auto; height: 100vh; opacity: 0;}
.approach-content-block .approach-content{ width: 600px; max-width: 100%; margin: auto;}
.pwrap.fsize-1{ font-size: 110%;}
.approach-content-block .approach-content a{ color: #5AB7BD; text-decoration: none;}
.approach-content-block .approach-content small{ font-size: 90%;}
.approach-content-block.has_bgvector .approach-content{ width: 300px; max-width: 100%; position: absolute; left: 0; right: 0; bottom: 15%;}
.approach-content-block.has_bgvector .bg-img{ width: 600px; max-width: 100%; margin: auto; display: block;}

.key-feature ul{ margin: 0; padding: 0; list-style: none;}

.approach-content-block.dna-block .dna-img{ position: absolute; left: 0; right: 0; margin: auto; width: 110px; max-width: 100%; top: -100px;}

.approach-content-block.report-block{width: 1000px;}
.approach-content-block.report-block .report-img{ position: absolute; left: 0; right: 0; margin: auto; width: 380px; max-width: 100%; top:-35px; z-index: 1;}

.approach-content-block.dna-block .approach-content{ width: 700px;}
.approach-content-block.report-block .approach-content{ width: 100%;}

.approach-content-block .img-v2{ display: none;}

.pinned-content-block{ width: 800px; position: absolute; left: 0; right: 0; top: 0; max-width: 100%; margin: auto; height: 100vh; opacity: 0;}
.pinned-content-block .pinned-content{ width: 600px; max-width: 100%; margin: auto;}

#scrolling-blocks-wrapper .mt-n3{ margin-top: -15px;}
#scrolling-blocks-wrapper .mt-n4{ margin-top: -25px;}

.key-feature-4 > p{ padding-left: 60px;}
.key-feature-4 ul{ margin: 0; padding: 0; list-style: none; position: relative;}
.key-feature-4 ul:before{ border-left: 2px solid #B0CEED; content: ''; display: block; top: 2.5%; height: 95%; left: 0; position: absolute;}
.key-feature-4 ul li{padding:0 0 0 60px; position: relative; margin: 15px 0;}
.key-feature-4 ul li:before{ width: 30px; background-color: #B0CEED; top: 50%; margin-top: -1px; height: 2px; content: ''; position: absolute; left: 5px;}
.key-feature-4 ul li:after{ width: 10px; height: 10px; background-color: #6488AC; top: 50%; margin-top: -5px; content: ''; border-radius: 50%; position: absolute; left:30px;}


.fadein-list li {
  opacity: 0;
  -webkit-animation: fadeInEffect 0.9s 1;
  animation: fadeInEffect 0.9s 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  transform: translateY(10px);
}

.fadein-list li:nth-child(1) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.fadein-list li:nth-child(2) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadein-list li:nth-child(3) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadein-list li:nth-child(4) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadein-list li:nth-child(5) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.fadein-list li:nth-child(6) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.fadein-list li:nth-child(7) {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}


/* Animation steps */

@-webkit-keyframes fadeInEffect {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInEffect {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.custom-modal .modal-header + .modal-body{ padding-top: 0;}
.custom-modal .modal-content{ border:0; border-radius:8px;}
.custom-modal .modal-header{border-bottom: 0; padding: 20px 25px;}
.custom-modal .modal-body{ padding: 40px 25px;}
.custom-modal .close{width: 24px; line-height: 24px; opacity: 1; outline: 0 !important; margin: 0 0 0 auto; text-shadow: none; padding: 0; background-color: #cccccc; border-radius: 50%; height: 24px; color: #fff !important; position: relative;}
.custom-modal .close span{ position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); line-height: 0;}
.custom-modal small{ font-size: 80%;}

.frm-holder .frm-submit .ajax-loader{ left: 0; top: 0; position: absolute;} 
.frm-holder textarea.form-control{ height: 100px;}

.frm-holder .inputfield{ border: 0; outline: 0; background-color: #f1f1f2; border-radius: 4px; height: 40px; padding: 3px 18px; width: 100%; color: #808081;}
.frm-holder .field-email-or-phone{ margin: 0 -25px;}
.frm-holder .field-email-or-phone .field-wrap{ padding: 0 25px; position: relative; width: 50%; float: left;}
.frm-holder .field-email-or-phone .mobile-field:before{ content: 'Or'; position: absolute; left: -10px; top: 10px; color: #808081;}
.frm-holder .submit-button{ background-color: #6388AC; font-weight: 500; padding: 15px 20px; border-radius: 4px; color: #fff; outline: 0; border: 0; width: 100%;}

.product-detail-section{ color: #3F3F3F; line-height: normal;}
.product-detail-section .product-detail .product-title{ font-weight: normal; width: auto;}
.product-detail-section .product-detail .product-price{ font-size: 28px;}
.product-detail-section .product-detail .product-price .old-price{ color: #808081; text-decoration: line-through; font-size: 80%;}
.product-detail-section .product-desc{ color:#7A7A7A; font-size: 14px;}
.product-detail-section .product-feature-list{ margin: 0 0 18px 0; padding: 0; list-style: none;}
.product-detail-section .product-feature-list li{margin-bottom: 6px; position: relative; padding-left: 20px;}
.product-detail-section .product-feature-list li:before{ background: url(../images/icons//checked.svg) no-repeat; background-size: 100% auto; width: 14px; height: 14px; position: absolute; left: 0; top: 50%; margin-top: -7px; content: '';}
.product-detail-section .signup-link a{ color: inherit; text-decoration: underline;}

.product-detail-section .product-detail .qty-input-wrap input[type="number"]{ background-color: #fff; padding: 3px 10px; height: 42px; margin-right: 10px; border: 1px solid #ddd; width: 100px; border-radius: 25px; text-align: center; outline: 0;}

.team-member-container ul{padding: 0; list-style: none; margin: 0; text-align: center;}
.team-member-container ul li{padding: 0 15px; width: 33.33%; display: inline-block; vertical-align: top; margin-right: -4px;}
.team-member-container .team-member{ background-color: #fff; border-radius: 35px; padding: 20px 30px; text-align: center; box-shadow: 4px 6px 16px #86868629;}
.team-member-container .team-member .avatar img{ border-radius: 50%; width: 100px;}
.team-member-container .team-member .member-meta h4{ color: #6987A8; line-height: normal; margin: 0; font-size: 18px;}
.team-member-container .team-member .member-meta { font-size: 13px; color: #808081;}
.team-member-container .team-member .degination{ position: relative; font-weight: bold; border-top: 1px solid #e9e9e9; padding: 10px 0 0 0;}
.team-member-container .team-member .degination:before{ position: absolute; left: 0; right: 0; top: -2px; height: 3px; content: ''; background-color: #EAB444; margin: auto; width: 60px;}

.faq-card{ padding-top: 40px;}

.faq-card .faq-title{ font-weight: 700; padding:0 50px; cursor: pointer; line-height: normal; margin-bottom: 18px; display: block; width: 100%; position: relative;}
.faq-card .faq-title .que-icon{ width: 32px; position: absolute; left: 0; top: 50%; transform: translateY(-50%);}
.faq-card .faq-card-body{ padding: 0 50px;}
.faq-card .faq-title:after{ content: '\f078'; font-size: 14px; position: absolute; right: 0; top: 50%; transform: translateY(-50%); font-family: 'FontAwesome';}
.faq-card .faq-title[aria-expanded="true"]:after{content: '\f077';}

.blood-parameters{ margin: 0 -50px; margin-top: 20px;}
.blood-parameters table{ width: 100%; border-collapse: collapse;}
.blood-parameters table td{ padding: 10px; vertical-align: top;}
.blood-parameters .cell-title-btn{ font-weight: 600; text-align: center; padding: 14px 10px; border-radius: 35px; color: #fff;}
.blood-parameters .cell-title-btn.btn-bg1{ background-color: #E17E75;}
.blood-parameters .cell-title-btn.btn-bg2{ background-color: #7FBFCA;}
.blood-parameters .cell-title-btn.btn-bg3{ background-color: #EAB444;}
.blood-parameters .cell-title-btn.btn-bg4{ background-color: #6987A8;}
.blood-parameters .parameters-list{ background-color: #F5F6F6; border-radius: 20px; margin-top: 25px;}
.blood-parameters .parameters-list ul{ margin: 0; padding: 10px 0; list-style: none;}
.blood-parameters .parameters-list ul li{ border-top: 1px dashed #B8BDC4; padding: 7px 25px; font-weight: 600; font-size: 12px;}
.blood-parameters .parameters-list ul li:first-child{border-top: 0;}


@media screen and (min-width:768px){
  .key-feature-2 ul{ display: flex; flex-wrap: wrap;}
  .key-feature-2 ul li{ text-align: right; position: relative; width: 50%; max-width: 100%; margin:0 0 70px 0; padding-right: 20%;}
  .key-feature-2 ul li:nth-child(even){ text-align: left; padding-right: 0; padding-left:20%;}
  .key-feature-2 ul li:last-child{ width:250px; padding: 0; margin:30px auto 0 auto; text-align: center;}

  .key-feature-2 ul li:not(:last-child) .connector{ position: absolute; display: block; top: 50%; margin-top: -1px; border-bottom: 2px solid #e2e2e2; width: 50px;}
  .key-feature-2 ul li:not(:last-child) .connector:before{width: 10px; height: 10px; background-color: #ff7f6b; top: 50%; margin-top: -5px; content: ''; border-radius: 50%; position: absolute;}
  .key-feature-2 ul li:not(:last-child):nth-child(even) .connector{left: 50px;}
  .key-feature-2 ul li:not(:last-child):nth-child(odd) .connector{right: 50px;}
  .key-feature-2 ul li:not(:last-child):nth-child(even) .connector:before{left: 50px;}
  .key-feature-2 ul li:not(:last-child):nth-child(odd) .connector:before{right: 50px;}

  .key-feature-2 ul li:last-child .connector{ position: absolute; display: block; top: -60px; left: 0; right: 0; margin: auto; background: #e2e2e2; width: 2px; height: 50px;}
  .key-feature-2 ul li:last-child .connector:before{width: 10px; height: 10px; background-color: #ff7f6b; bottom:0; left: -4px; right: 0; margin: auto; content: ''; border-radius: 50%; position: absolute;}


  .key-feature-1 ul:before{ border-top: 2px solid #B0CEED; content: ''; display: block; width: 77%; margin: auto;}
  .key-feature-1 ul li{ display: inline-block; vertical-align: top; margin-right: -4px; padding: 70px 15px 0 15px; text-align: center; position: relative; width: 25%;}
  .key-feature-1 ul li:before{ width: 2px; background-color: #B0CEED; top: 5px; height: 50px; content: ''; position: absolute; left: 0; right: 0; margin: auto;}
  .key-feature-1 ul li:after{ width: 11px; height: 11px; background-color: #6488AC; top: 50px; content: ''; border-radius: 50%; position: absolute; left: 0; right: 0; margin: auto;}
}
@media screen and (min-width:1200px){
  .key-feature-3 ul{display: flex; flex-wrap: wrap;}
  .key-feature-3 ul li{ text-align: right; width: 50%; max-width: 100%; margin:0 0 50px 0; padding-right: 25%; position: relative;}
  .key-feature-3 ul li:nth-child(even){ text-align: left; padding-right: 0; padding-left:25%;}
  .key-feature-3 ul li:last-child{ width:200px; padding: 0; margin:40px auto 0 auto; text-align: center;}

  .key-feature-3 ul li:not(:last-child) .connector{ position: absolute; display: block; top: 50%; margin-top: -1px; border-bottom: 2px solid #d6e6f6; width: 70px;}
  .key-feature-3 ul li:not(:last-child) .connector:before{width: 10px; height: 10px; background-color: #6488ac; top: 50%; margin-top: -5px; content: ''; border-radius: 50%; position: absolute;}
  .key-feature-3 ul li:not(:last-child):nth-child(even) .connector{left: 120px;}
  .key-feature-3 ul li:not(:last-child):nth-child(odd) .connector{right: 120px;}
  .key-feature-3 ul li:not(:last-child):nth-child(even) .connector:before{left: 70px;}
  .key-feature-3 ul li:not(:last-child):nth-child(odd) .connector:before{right: 70px;}

  .key-feature-3 ul li:last-child .connector{ position: absolute; display: block; top: -60px; left: 0; right: 0; margin: auto; background: #d6e6f6; width: 2px; height: 50px;}
  .key-feature-3 ul li:last-child .connector:before{width: 10px; height: 10px; background-color: #6488ac; bottom:0; left: -4px; right: 0; margin: auto; content: ''; border-radius: 50%; position: absolute;}

  .product-detail-section .product-detail{ padding-left: 40px;}

}

@media screen and (min-width:768px) and (max-width:1200px){
.profile .profile-head{display: block !important; border-radius: 25px;}
.profile .profile-head .avatar{ width: 120px; margin: auto; position: relative; top: -50px; margin-bottom: -50px;}
.profile .profile-head .profile-desc{ padding: 30px; width: 100%;}

}

@media screen and (max-width:1499px){
    .block-title{font-size: 38px;}
    .block-title.fsize-md{ font-size:28px;}
    .block-title.fsize-sm{ font-size: 20px;}
  }
  

@media screen and (max-width:1199px){
    #page-container{ padding-left: 0; padding-top: 60px !important;}

    #sticky--header {padding: 15px; width:100%; height: 60px; transition: none; left: 0; top: 0; display: block; border-right:0; border-bottom: 1px solid #b5b5b5;}
#sticky--header .logo-icon{width: 32px; left: 0; right: 0; margin: auto;}
#sticky--header .logo-icon a{padding:0;}
#sticky--header .open-menu{transform: translate(0,0); position: static; float: left;}

#sticky--header .usernav{position: static; float: right; margin-top: 5px;}
#sticky--header .usernav ul li{margin:0 0  0 18px; float: right;}

.close-menu{ display: block;}

.menu-wrapper nav #top-menu{ display: block;}

    .block-title{font-size: 28px;}
  .block-title.fsize-md{ font-size:20px;}
  .block-title.fsize-sm{ font-size:17px;}
  .discover-more-arrow{ font-size: 16px;}
  .step-block-outer .step-block{ width: 220px;}

  .fixed-vector-1{width: 200px;}
.fixed-vector-2{width:60px;}
.fixed-vector-3{width: 70px;}
.fixed-vector-4{width: 90px;}


  #site-footer .contact-block{ font-size: 18px;}

.revamp-cards-wrapper .revamp-cards{display: table; margin: auto;  text-align: center;}
.revamp-cards-wrapper .bg-img{ display: none;}
.revamp-cards-wrapper .container > .block-title{ position: static; transform: translateY(0); width: auto; margin-bottom: 20px;}
.revamp-cards{ position: relative;}
.revamp-cards .revamp-card{ position: relative; display: inline-block; vertical-align: top; width: 300px; height: 300px; margin:20px;}
.revamp-cards .revamp-card.card-1,
.revamp-cards .revamp-card.card-2,
.revamp-cards .revamp-card.card-3,
.revamp-cards .revamp-card.card-4,
.revamp-cards .revamp-card.card-5,
.revamp-cards .revamp-card.card-6{  left: auto; right: auto; top: auto; bottom: auto;}

.approach-content-block.report-block .report-img{ display: none;}

.key-feature-3 ul li .connector{ display: none;}
.key-feature-3 ul:before{ border-left: 2px solid #B0CEED; content: ''; display: block; top: 2.5%; height: 95%; left: 0; position: absolute;}
.key-feature-3 ul li{padding:0 0 0 60px; position: relative; margin: 25px 0;}
.key-feature-3 ul li:before{ width: 30px; background-color: #B0CEED; top: 50%; margin-top: -1px; height: 2px; content: ''; position: absolute; left: 5px;}
.key-feature-3 ul li:after{ width: 10px; height: 10px; background-color: #6488AC; top: 50%; margin-top: -5px; content: ''; border-radius: 50%; position: absolute; left:30px;}
#site-footer .social-network{ float: none; width: 100%;}
#site-footer .footer-left{ float: none; width: 100%;}

/* .anchor-list[class*="active-"]{top: 60px;} */
.anchor-list{top: 55px;}

.team-member-container ul li{padding: 0 15px; margin-bottom: 30px; width: 50%;}


}
@media screen and (max-width:991px){
    .mb-70{ margin-bottom:60px !important;}
  .mb-60{ margin-bottom:50px !important;}
  .mb-50{ margin-bottom:40px !important;}
  .mb-40{ margin-bottom:35px !important;}
  .mb-30{ margin-bottom:25px !important;}

  .mt-70{ margin-top:60px !important;}
  .mt-60{ margin-top:50px !important;}
  .mt-50{ margin-top:40px !important;}
  .mt-40{ margin-top:35px !important;}
  .mt-30{ margin-top:25px !important;}

  .block-title{ width: 220px;}
    .content-section{ padding: 60px 0;}

    #slider-2 .slick-list{ padding-right: 50px !important;}

    #slider-2{ margin: 0 -7px;}
    #slider-2 .slide-item{ padding: 0 7px;}

    #site-footer .footer-left .flinks{ order: 1; margin-left: 0;}
    #site-footer .footer-left .flinks li:first-child{ margin-left: 0;}
    #site-footer .copyright{ width: 100%; order: 2;}

    .payment-info h1{ font-size: 42px}

    .container{ width: 90% !important;}

.blood-parameters table td{ padding: 6px;}
.blood-parameters .cell-title-btn{ font-size: 14px;}

.blood-parameters .parameters-list ul li.blank{ display: none;}

  }
@media screen and (max-width:767px){
.addtocart_row .price{ width:50%; padding-right: 30px;}

.addtocart_row .qty{ width:50%; padding-right:0;}

.addtocart_row #submit_id{ width: 100%; margin-top: 15px;}

.customer-detail-block .price{ font-size: 36px;}

body{ font-size: 14px;}
.site-container{ width: 100%; padding: 0 20px;}

.mb-70{ margin-bottom:50px !important;}
.mb-60{ margin-bottom:40px !important;}

.mt-70{ margin-top:50px !important;}
.mt-60{ margin-top:40px !important;}
.slick-arrow{ top: -70px;}

.result-expectation-section .nth-child-1{ order: 1;}
.result-expectation-section .nth-child-2{ order: 2;}
.result-expectation-section .nth-child-3{ order: 5;}
.result-expectation-section .nth-child-4{ order: 3;}
.result-expectation-section .nth-child-5{ order: 4;}
.content-section{ padding: 50px 0;}

.discover-more-arrow{ font-size: 14px; display: none;}
.discover-more-arrow .icon{ margin-top: 10px;}

#heroslider ul.slick-dots{ text-align: center; bottom: 10px;}
.white-card{ padding: 25px;}
#slider-2 .white-card .input-list ul li .icon{ width: 24px;}
.fixed-vector-1{width: 100px; top: -8%; left: 14%;}
.fixed-vector-2{width:50px; right: 5%;}
.fixed-vector-3{width: 60px; top: -8%;}
.fixed-vector-4{width: 80px; left: 0; right: 0; margin: auto; bottom: -4%;}

#site-footer{ padding: 50px 0; background-position: 200% 50%; background-size: 240px;}
#site-footer .social-network{text-align: center;}
#site-footer .footer-left{text-align: center; margin-top: 20px; font-size: 12px;}
#site-footer .footer-left .flinks li{ margin:0 5px !important;}
#site-footer .footer-bottom{ margin-top: 20px;}
#site-footer .contact-block{ font-size: 17px;}
#site-footer .copyright{ margin-top: 10px;}
.container{ width: 100% !important;}

.payment-info h1 .icon{ display: block; margin: 0 0 10px 0; width: 100px;}
.payment-info .order-summary{ padding: 20px 0;}
.payment-info .order-summary table td{ font-size: 13px; width: 50%;}

.revamp-cards-wrapper{ margin-top: 50px;}
.revamp-cards .revamp-card .card-figure > img{ height: 150px;}
.revamp-cards .revamp-card{ margin:30px auto; display: block; width: 290px; height: 290px; margin: 30px auto;}

.approach-content-block .img-v1{ display: none;}
.approach-content-block .img-v2{ display: block;}
.approach-content-block.dna-block .dna-img{ position:static; width: 25%;}
.approach-content-block.dna-block .approach-content{ display: flex; align-items: center;}
.key-feature-2{padding-left: 10px; width: 75%;}
.key-feature-2 ul li{ margin:12px 0; display: block;}
.key-feature-1 ul li{ padding-left: 15px; padding-right: 15px;}

.key-feature-3 ul li{ margin: 15px 0;}

.approach-content-block .block-img{ width: 50%; margin: auto;}
.approach-content-block.has_bgvector .approach-content{ bottom: 25%;}

.key-feature-1 ul{ position: relative;}
.key-feature-1 ul:before{ border-left: 2px solid #B0CEED; content: ''; display: block; top: 2.5%; height: 95%; left: 0; position: absolute;}
.key-feature-1 ul li{padding:0 0 0 60px; position: relative; margin: 10px 0;}
.key-feature-1 ul li:before{ width: 30px; background-color: #B0CEED; top: 50%; margin-top: -1px; height: 2px; content: ''; position: absolute; left: 5px;}
.key-feature-1 ul li:after{ width: 10px; height: 10px; background-color: #6488AC; top: 50%; margin-top: -5px; content: ''; border-radius: 50%; position: absolute; left:30px;}

.approach-content-block{ width: 400px; font-size: 13px;}

.herosection #herobanner .page-title{font-size: 18px;}
.herosection #herobanner .page-title span{ font-size: 42px;}

.anchor-list ul li{font-size: 13px;}
.anchor-list ul li + li:last-child:before{ right: 85%;}

.howitworks-scrolling-blocks .block-img img{ width: 220px;}

.key-feature-4 > p{ padding-left: 40px;}
.key-feature-4 ul li{padding:0 0 0 40px;margin: 12px 0;}
.key-feature-4 ul li:before{ width: 20px;}
.key-feature-4 ul li:after{left:20px;}

.team-member-container ul{ display: block;}
.team-member-container ul li{padding: 0; width: 100%; display: block; margin:0 0 20px 0;}

.frm-holder .field-email-or-phone{ margin: 0;}
.frm-holder .field-email-or-phone .field-wrap{ padding: 0 0; width:100%; float: none;}
.frm-holder .field-email-or-phone .mobile-field:before{ position: static; display: block; margin: 10px 0; text-align: center;}

.faq-card{ padding-top: 20px;}
.faq-card .faq-title{padding:0 35px; margin-bottom: 15px; font-size: 16px;}
.faq-card .faq-title .que-icon{ width: 24px;}
.faq-card .faq-card-body{ padding: 0 35px;  padding-bottom: 20px;}

.blood-parameters table,
.blood-parameters table tbody,
.blood-parameters table tr,
.blood-parameters table td{ display: block; width: 100%;}
.blood-parameters table td{ padding: 0; margin-bottom: 30px;}
.blood-parameters{ margin-left: 0; margin-right: 0;}
.blood-parameters .parameters-list{ margin-top: 0; border-radius: 0 0 25px 25px;}
.blood-parameters table .hide-xs{ display: none;}
.blood-parameters .parameters-list ul li{ padding: 4px 20px;}
.blood-parameters .cell-title-btn{ border-radius: 25px 25px 0 0;}

}

@media screen and (max-width: 320px), screen and (max-height: 568px) {
  .anchor-list{ display: none;}
}
#reload_enjoyinstagram_carousel_1 .swiper-navigation.swiper-navigation-1 {
    display: none !important;
}