@import url('../fonts/site-fonts.css');


input, button, select, textarea, a{outline: 0;}

img{ max-width: 100%; height: auto;}

body{font-size: 16px; color: #000000; font-family: 'Centrale Sans';}

.header-logo{ position: absolute; left: 0; right: 0; top: -10px; margin: auto; width: 100px; height: 100px; background-color: #fff; border-radius: 50%; z-index: 99;}
.header-logo a{ display: block; margin: auto; width: 40px;}

.section-one{ background-color: #bbb3da; margin-top: 25px;}
.section-one .section-heading{ padding: 0 15px; margin:30px auto; width: 450px; max-width: 100%;}
.section-one .content-block-outer{ position: absolute; left: 0; right: 0; bottom: 5%;}
.section-one .section-img{ line-height: 0;}

.lefticon-content-block{ position: relative; padding-left: 120px;}
.lefticon-content-block .icon{ position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 72px;}

.section-two .container{ position: absolute; left: 0; right: 0; top: 50%; transform: translateY(-50%); z-index: 1;}
.section-two .banner-1{ display: none;}

.section-three .banner-img{ position: absolute; right: 0; bottom: 0; height: 100%; width: 100%;}
.section-three .section-heading small{ font-size: 52%;}
.section-three .container{ position: relative; z-index: 1;}

.section-four .img-holder{ position: relative; bottom: -100px;}
.section-four .container{ position: relative; z-index: 5;}

.section-five{ background-color: #c4c2a9; z-index: 3;}
.section-five .heading-bg{ background-color: #827749; padding: 10px 20px; width: 370px; margin: auto; border-radius: 12px; margin-bottom: 60px; max-width: 100%;}

.section-six{ background-color: #f2a6d7;}
.section-six .section-bottom-content{ background-color: #ead2e1; padding-top: 200px;}
.section-six .img-holder{ margin: auto; margin-bottom: -171px; width: 680px;}
.section-six .section-top-content .section-heading{ position: absolute; left: 15px; width: 400px; max-width: 100%; top: 25%;}
.section-six .hashtag{ position: absolute; right: 15px; top: 15%;}
.rotate.hashtag{ font-style: italic; font-size: 20px;}

.section-eight{ background-color: #ffcc00;}

.img-holder{ line-height: 0;}
.pt-100{ padding-top: 100px;}
.pt-150{ padding-top: 150px;}
.pb-100{ padding-bottom: 100px;}
.posrel{ position: relative;}
.rotated{ transform: rotate(-7deg); margin: 0 0 60px 0;}
.divider-line{ width: 70px; height: 4px; background-color: #fff;}
.divider-line.bgdark{ background-color: #12305f;}
.list-holder ol{ margin: 0 0 0 20px; padding: 0; font-weight: 500; list-style: decimal;}
.para-holder{font-weight: 500;}
strong{font-weight: bold;}
.font-primary{font-family: 'Centrale Sans';}

.section-heading{line-height: 1.1; font-size: 50px; margin: 0; font-family: 'Inlanders';}
.section-heading.fsize-md{ font-size: 30px;}

.clr-white{ color: #fff !important;}
.clr-dark{ color: #12305f !important;}
.clr-pink{ color: #f4a5d9 !important;}


.btn-style {background: #ead2e1; font-weight: bold; border: 0; border-radius:12px; color: #000000 !important; text-decoration: none !important; display: inline-block; padding:10px 18px; min-width: 180px; text-align: center;}
.btn-style.btn-style-white{ background-color: #fff;}

.covid-vector{ position: absolute;}
.covid-vector.vector-1,
.covid-vector.vector-2{ width: 100px; height: 100px;}
.covid-vector.vector-1{ left: -3%; top: 15%;}
.covid-vector.vector-2{ right: 5%; top: 16%;}
.covid-vector.vector-3{ width: 70px; height: 70px; right: 15%; top: 50%;}
.covid-vector.vector-4{ width: 120px; height: 120px; left: 5%; bottom: -6%;}


@media screen and (max-width:1499px){

}

@media screen and (max-width:1199px){
  .section-one{ margin-top: 0;}
  .section-one .content-block-outer{bottom: 2%;}
  .section-three .banner-img{ background-size: 90% !important;}
  .covid-vector.vector-1{ top: 40%; left: -5%;}
  .covid-vector.vector-2{ display: none;}

  .pt-100{ padding-top: 70px;}
.pt-150{ padding-top: 120px;}
.pb-100{ padding-bottom: 70px;}
.section-one .section-heading{ width: 350px;}
.landing-page-header{ display: none;}

.section-four .img-holder{ bottom: -70px;}
}
@media screen and (max-width:991px){
  .section-six .section-top-content .section-heading{ width: auto; position: static;}
  .section-six .hashtag{ position: static;}
  .section-two .banner-1{ display: block;}
  .section-two .banner-2{ display: none;}
  .section-two .container{ position: static; transform: translateY(0);}
  .section-two{background: #9bc5a5; padding-bottom: 30px;}

  .hashtag{transform: rotate(0); margin-bottom: 15px;}

}
@media screen and (max-width:767px){
  body{ font-size: 14px;}
  .section-one .content-block-outer{ position: static; padding: 30px 0;}
  .lefticon-content-block{ padding-left: 0;}
  .lefticon-content-block .icon{ position: static; transform: translateY(0); margin-bottom: 30px;}
  .covid-vector.vector-4{ display: none;}
  .covid-vector.vector-1{ top: 50%; left: -7%; width: 80px; height: 80px;}
  .covid-vector.vector-3{ width: 50px; height: 50px; right: 10%;}
  .section-six .img-holder{ width: 300px; margin-bottom: -75px;}

  .pt-100{ padding-top: 50px;}
  .pt-150{ padding-top: 70px;}
  .pb-100{ padding-bottom: 50px;}

  .section-six .section-bottom-content{ padding-top: 90px;}
  .section-one .section-heading{ width: 300px;}

  .section-heading{font-size: 36px;}
  .section-heading.fsize-md{ font-size:24px;} 

  .hashtag{ font-size: 20px;}

  .section-three .banner-img{ display: none;}
  .section-four .img-holder{ bottom: -50px;}
  
}