@font-face {
    font-family: 'Inlanders';
    src: url('Inlanders-Bold.eot');
    src: url('Inlanders-Bold.eot?#iefix') format('embedded-opentype'),
        url('Inlanders-Bold.woff2') format('woff2'),
        url('Inlanders-Bold.woff') format('woff'),
        url('Inlanders-Bold.ttf') format('truetype'),
        url('Inlanders-Bold.svg#Inlanders-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Centrale Sans';
    src: url('CentraleSansLightItalic.eot');
    src: url('CentraleSansLightItalic.eot?#iefix') format('embedded-opentype'),
        url('CentraleSansLightItalic.woff2') format('woff2'),
        url('CentraleSansLightItalic.woff') format('woff'),
        url('CentraleSansLightItalic.ttf') format('truetype'),
        url('CentraleSansLightItalic.svg#CentraleSansLightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Centrale Sans';
    src: url('CentraleSans-Light.eot');
    src: url('CentraleSans-Light.eot?#iefix') format('embedded-opentype'),
        url('CentraleSans-Light.woff2') format('woff2'),
        url('CentraleSans-Light.woff') format('woff'),
        url('CentraleSans-Light.ttf') format('truetype'),
        url('CentraleSans-Light.svg#CentraleSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Centrale Sans MediumMedium';
    src: url('CentraleSans-MediumItalic.eot');
    src: url('CentraleSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('CentraleSans-MediumItalic.woff2') format('woff2'),
        url('CentraleSans-MediumItalic.woff') format('woff'),
        url('CentraleSans-MediumItalic.ttf') format('truetype'),
        url('CentraleSans-MediumItalic.svg#CentraleSans-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Centrale Sans';
    src: url('CentraleSans-Medium.eot');
    src: url('CentraleSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('CentraleSans-Medium.woff2') format('woff2'),
        url('CentraleSans-Medium.woff') format('woff'),
        url('CentraleSans-Medium.ttf') format('truetype'),
        url('CentraleSans-Medium.svg#CentraleSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Centrale Sans';
    src: url('CentraleSansRegularItalic.eot');
    src: url('CentraleSansRegularItalic.eot?#iefix') format('embedded-opentype'),
        url('CentraleSansRegularItalic.woff2') format('woff2'),
        url('CentraleSansRegularItalic.woff') format('woff'),
        url('CentraleSansRegularItalic.ttf') format('truetype'),
        url('CentraleSansRegularItalic.svg#CentraleSansRegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Centrale Sans';
    src: url('CentraleSansRegular.eot');
    src: url('CentraleSansRegular.eot?#iefix') format('embedded-opentype'),
        url('CentraleSansRegular.woff2') format('woff2'),
        url('CentraleSansRegular.woff') format('woff'),
        url('CentraleSansRegular.ttf') format('truetype'),
        url('CentraleSansRegular.svg#CentraleSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Centrale Sans';
    src: url('CentraleSansThinItalic.eot');
    src: url('CentraleSansThinItalic.eot?#iefix') format('embedded-opentype'),
        url('CentraleSansThinItalic.woff2') format('woff2'),
        url('CentraleSansThinItalic.woff') format('woff'),
        url('CentraleSansThinItalic.ttf') format('truetype'),
        url('CentraleSansThinItalic.svg#CentraleSansThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Centrale Sans';
    src: url('CentraleSans-BoldItalic.eot');
    src: url('CentraleSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('CentraleSans-BoldItalic.woff2') format('woff2'),
        url('CentraleSans-BoldItalic.woff') format('woff'),
        url('CentraleSans-BoldItalic.ttf') format('truetype'),
        url('CentraleSans-BoldItalic.svg#CentraleSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Centrale Sans';
    src: url('CentraleSans-Thin.eot');
    src: url('CentraleSans-Thin.eot?#iefix') format('embedded-opentype'),
        url('CentraleSans-Thin.woff2') format('woff2'),
        url('CentraleSans-Thin.woff') format('woff'),
        url('CentraleSans-Thin.ttf') format('truetype'),
        url('CentraleSans-Thin.svg#CentraleSans-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Centrale Sans';
    src: url('CentraleSans-Bold.eot');
    src: url('CentraleSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('CentraleSans-Bold.woff2') format('woff2'),
        url('CentraleSans-Bold.woff') format('woff'),
        url('CentraleSans-Bold.ttf') format('truetype'),
        url('CentraleSans-Bold.svg#CentraleSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Centrale Sans XLight';
    src: url('CentraleSans-XLightItalic.eot');
    src: url('CentraleSans-XLightItalic.eot?#iefix') format('embedded-opentype'),
        url('CentraleSans-XLightItalic.woff2') format('woff2'),
        url('CentraleSans-XLightItalic.woff') format('woff'),
        url('CentraleSans-XLightItalic.ttf') format('truetype'),
        url('CentraleSans-XLightItalic.svg#CentraleSans-XLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Centrale Sans XLight';
    src: url('CentraleSans-XLight.eot');
    src: url('CentraleSans-XLight.eot?#iefix') format('embedded-opentype'),
        url('CentraleSans-XLight.woff2') format('woff2'),
        url('CentraleSans-XLight.woff') format('woff'),
        url('CentraleSans-XLight.ttf') format('truetype'),
        url('CentraleSans-XLight.svg#CentraleSans-XLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Centrale Sans XThin';
    src: url('CentraleSans-XThinItalic.eot');
    src: url('CentraleSans-XThinItalic.eot?#iefix') format('embedded-opentype'),
        url('CentraleSans-XThinItalic.woff2') format('woff2'),
        url('CentraleSans-XThinItalic.woff') format('woff'),
        url('CentraleSans-XThinItalic.ttf') format('truetype'),
        url('CentraleSans-XThinItalic.svg#CentraleSans-XThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Centrale Sans XThin';
    src: url('CentraleSans-XThin.eot');
    src: url('CentraleSans-XThin.eot?#iefix') format('embedded-opentype'),
        url('CentraleSans-XThin.woff2') format('woff2'),
        url('CentraleSans-XThin.woff') format('woff'),
        url('CentraleSans-XThin.ttf') format('truetype'),
        url('CentraleSans-XThin.svg#CentraleSans-XThin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

